<!-- 楕円形で囲む -->
    <!-- 横並び -->
    <!-- 検索img -->
    <!-- input(初期値"検索") -->


<!-- cssコード -->
<!-- <div>
    <span class="material-symbols-outlined middle">search</span>
    <input type="search" class="middle" placeholder="検索">
</div> -->


<!-- bootstrap -->
<!-- <div class="d-flex justify-content-center align-items-center">
    <div class="d-flex col-5">
        <button type="button" class="btn btn-default-v3 btn-secondary">
            <span class="material-symbols-outlined middle">search</span>
        </button>
        <textarea class="form-control h-100" aria-label="テキストエリア付き" aria-describedby="basic-textarea" rows="1"></textarea>
    </div>
</div> -->

<!-- チュートリアルに乗っているもの -->
<form>
    <div class="input-group input-group-sm">
        <input type="text" class="form-control" placeholder="Search">
        <div class="input-group-btn">
            <button class="btn  btn-default-v3 btn-secondary" type="submit">
                <span class="material-symbols-outlined middle">search</span>
            </button>
        </div>
    </div>
</form>
  